# Heading Example
This is a heading.

## Sub-heading Example
This is a sub-heading.

### List and Formatting
- This is a bullet point.
- **Bold Text** and _Italic Text_ for emphasis.

In [1]:
import pandas as pd

## Load the dataset

In [58]:
df = pd.read_csv("./hw0_dataset_1M.csv", names=[i for i in range(30)])

C:\Users\kalya\AppData\Local\Temp\ipykernel_23248\438331916.py:1: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./hw0_dataset_1M.csv", names=[i for i in range(30)])

In [59]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992309 entries, 0 to 992308
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       992285 non-null  float64
 1   1       950665 non-null  object
 2   2       717634 non-null  object
 3   3       520004 non-null  object
 4   4       630109 non-null  object
 5   5       333971 non-null  object
 6   6       451326 non-null  object
 7   7       436507 non-null  object
 8   8       393552 non-null  object
 9   9       337700 non-null  object
 10  10      233535 non-null  object
 11  11      206293 non-null  object
 12  12      107651 non-null  object
 13  13      41477 non-null   object
 14  14      9452 non-null    object
 15  15      10838 non-null   object
 16  16      2611 non-null    object
 17  17      88 non-null      object
 18  18      96 non-null      object
 19  19      0 non-null       float64
 20  20      0 non-null       float64
 21  21      0 non-null       float64
 22  22      0 non-null       float64
 23  23      0 non-null       float64
 24  24      0 non-null       float64
 25  25      0 non-null       float64
 26  26      0 non-null       float64
 27  27      0 non-null       float64
 28  28      0 non-null       float64
 29  29      0 non-null       float64
dtypes: float64(12), object(18)
memory usage: 227.1+ MB

In [61]:
df.isnull().sum()

0         24
1      41644
2     274675
3     472305
4     362200
5     658338
6     540983
7     555802
8     598757
9     654609
10    758774
11    786016
12    884658
13    950832
14    982857
15    981471
16    989698
17    992221
18    992213
19    992309
20    992309
21    992309
22    992309
23    992309
24    992309
25    992309
26    992309
27    992309
28    992309
29    992309
dtype: int64

In [62]:
# Identify rows that potentially contain header information
header_candidates = df[df[1].str.contains('key', na=False)]
header_candidates

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10855,0.0,key2024021917244489085_1,NaN,NaN,NaN,NaN,"Moffatt, H.K.",1978.0,NaN,Magnetic Field Generation in Electrically Cond...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10856,1.0,key2024021917244489085_2,crossref,10.1103/PhysRevE.58.7397,7397.0,NaN,"Odier, P.",1998.0,58,Phys. Rev. E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10857,2.0,key2024021917244489085_3,crossref,10.1103/PhysRevE.61.5287,5287.0,NaN,"Peffley, N.L.",2000.0,61,Phys. Rev. E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10858,3.0,key2024021917244489085_4,crossref,10.1063/1.1497376,3046.0,NaN,"Bourgoin, M.",2002.0,14,Phys. Fluids,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953703,22.0,key20220324181003_B23,NaN,NaN,R: A language and environment for statistical ...,R Core Team,2021.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953704,23.0,key20220324181003_B24,NaN,NaN,The Coding Manual for Qualitative Researchers,NaN,2015.0,2nd,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953705,24.0,key20220324181003_B25,NaN,NaN,NaN,NaN,NaN,NaN,The GLOBE Program. 2018a. The GLOBE Program st...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953706,25.0,key20220324181003_B26,NaN,NaN,NaN,NaN,NaN,NaN,The GLOBE Program. 2018b. International Virtua...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983774,NaN,key,doi-asserted-by,DOI,first-page,article-title,volume,author,year,journal-title,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Convert all elements to string, then find the longest row by concatenating its string elements
headers = header_candidates.loc[header_candidates.apply(lambda x: len(' '.join(x.astype(str).dropna())), axis=1).idxmax()]

In [64]:
# Set new headers
df.columns = headers.values

In [65]:
# Drop all header candidate rows from the DataFrame to clean it
df = df.drop(header_candidates.index)

In [66]:
df.head()

,12.0,key2024021917591747573_13,publisher,D13105,10.1029/2006JD007494,Regional transport and dilution during high pollution episodes in southeastern France summary of findings from the ESCOMPTE experiment,112.0,"Drobinski, P.",2006.0,J. Geophys. Res.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,e_1_2_7_6_1,publisher,10.1029/2007GL029678,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# df.info()

In [68]:
df = df.iloc[ : , : 10]
df.head()

,12.0,key2024021917591747573_13,publisher,D13105,10.1029/2006JD007494,Regional transport and dilution during high pollution episodes in southeastern France summary of findings from the ESCOMPTE experiment,112.0,"Drobinski, P.",2006.0,J. Geophys. Res.
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,e_1_2_7_6_1,publisher,10.1029/2007GL029678,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df.dropna(inplace = True)

In [70]:
# df.isnull().sum()

In [71]:
# df.info()

In [72]:
# Save the cleaned DataFrame
# df.to_csv('/cleaned_data.csv', index=False)

In [73]:
# Restricting columns to 'DOI', 'journal-title', 'doi-asserted-by'
df = df.iloc[:, [3,2,9]] 
df.head()

      D13105 publisher                                  J. Geophys. Res.
42115    585  crossref                                       Groundwater
42117    115  crossref                                   J. Remote Sens.
42118     75  crossref  Int. J. Appl. Earth Observation & Geoinformation
42119    306  crossref                                       Groundwater
42120   3123  crossref                                          J. Clim.

In [77]:
# Rename columns
df.columns = ['DOI', 'doi-asserted-by', 'journal-title']

In [78]:
# Resetting the index of the DataFrame
df = df.reset_index(drop=True)
df.head()

    DOI doi-asserted-by                                     journal-title
0   585        crossref                                       Groundwater
1   115        crossref                                   J. Remote Sens.
2    75        crossref  Int. J. Appl. Earth Observation & Geoinformation
3   306        crossref                                       Groundwater
4  3123        crossref                                          J. Clim.

In [81]:
# Normalize the 'DOI' column: convert to lowercase
df['DOI'] = df['DOI'].str.lower()

In [83]:
df

,DOI,doi-asserted-by,journal-title
0,585,crossref,Groundwater
1,115,crossref,J. Remote Sens.
2,75,crossref,Int. J. Appl. Earth Observation & Geoinformation
3,306,crossref,Groundwater
4,3123,crossref,J. Clim.
...,...,...,...
72668,10.1002/qj.49710845607,crossref,Quarterly Journal of the Royal Meteorological ...
72669,10.1029/95gl03338,crossref,Geophysical Research Letters
72670,10.1029/95jd02370,crossref,Journal of Geophysical Research
72671,10.1029/2000jd900039,crossref,Journal of Geophysical Research
72672,10.1175/1520-0469(1976)033<2399:odnsot>2.0.co;2,crossref,Journal of Atmospheric Science

In [85]:
# Normalize the 'journal-title' column: 
# Remove punctuation
df['journal-title'] = df['journal-title'].str.replace('[^\w\s]', '', regex=True)

In [86]:
df

,DOI,doi-asserted-by,journal-title
0,585,crossref,Groundwater
1,115,crossref,J Remote Sens
2,75,crossref,Int J Appl Earth Observation Geoinformation
3,306,crossref,Groundwater
4,3123,crossref,J Clim
...,...,...,...
72668,10.1002/qj.49710845607,crossref,Quarterly Journal of the Royal Meteorological ...
72669,10.1029/95gl03338,crossref,Geophysical Research Letters
72670,10.1029/95jd02370,crossref,Journal of Geophysical Research
72671,10.1029/2000jd900039,crossref,Journal of Geophysical Research
72672,10.1175/1520-0469(1976)033<2399:odnsot>2.0.co;2,crossref,Journal of Atmospheric Science

In [87]:
# Remove extra spaces
df['journal-title'] = df['journal-title'].str.replace('\s+', ' ', regex=True).str.strip()

In [88]:
df

,DOI,doi-asserted-by,journal-title
0,585,crossref,Groundwater
1,115,crossref,J Remote Sens
2,75,crossref,Int J Appl Earth Observation Geoinformation
3,306,crossref,Groundwater
4,3123,crossref,J Clim
...,...,...,...
72668,10.1002/qj.49710845607,crossref,Quarterly Journal of the Royal Meteorological ...
72669,10.1029/95gl03338,crossref,Geophysical Research Letters
72670,10.1029/95jd02370,crossref,Journal of Geophysical Research
72671,10.1029/2000jd900039,crossref,Journal of Geophysical Research
72672,10.1175/1520-0469(1976)033<2399:odnsot>2.0.co;2,crossref,Journal of Atmospheric Science

In [ ]:
# Export the DataFrame to CSV and JSON
# df.to_csv('/data_cleaned_normalized.csv', index=False)
# df.to_json('/data_cleaned_normalized.json', orient='records')

In [89]:
# Filter the DataFrame to only include rows where both 'DOI' and 'journal-title' are not null
filtered_df = df.dropna(subset=['DOI', 'journal-title'])

In [90]:
# Remove duplicates based on the 'DOI' column to ensure each DOI is unique
filtered_df = filtered_df.drop_duplicates(subset='DOI')

In [91]:
filtered_df

,DOI,doi-asserted-by,journal-title
0,585,crossref,Groundwater
1,115,crossref,J Remote Sens
2,75,crossref,Int J Appl Earth Observation Geoinformation
3,306,crossref,Groundwater
4,3123,crossref,J Clim
...,...,...,...
72668,10.1002/qj.49710845607,crossref,Quarterly Journal of the Royal Meteorological ...
72669,10.1029/95gl03338,crossref,Geophysical Research Letters
72670,10.1029/95jd02370,crossref,Journal of Geophysical Research
72671,10.1029/2000jd900039,crossref,Journal of Geophysical Research
72672,10.1175/1520-0469(1976)033<2399:odnsot>2.0.co;2,crossref,Journal of Atmospheric Science

In [ ]:
# Save the filtered DataFrame to CSV and JSON files in the 'data/' directory
# filtered_df.to_csv('/data_filtered.csv', index=False)
# filtered_df.to_json('/data_filtered.json', orient='records')

In [92]:
# Returns a DataFrame containing the n most frequent DOIs
def n_most_frequent_doi(df, n):
    # Count the occurrences of each DOI
    freq = df['DOI'].value_counts().head(n)
    # Convert the Series to a DataFrame
    return freq.reset_index().rename(columns={'index': 'DOI', 'DOI': 'Count'})

In [93]:
# print(n_most_frequent_doi(data, 5))

In [94]:
# Returns a DataFrame containing rows where the journal title contains a specific substring
def journal_lookup(df, s):
    # Filter the DataFrame based on substring presence in 'journal-title'
    return df[df['journal-title'].str.contains(s, na=False, case=False)]

In [95]:
# print(journal_lookup(data, 'math'))